.container{
  position: absolute;
  background-image: url("../../../img/fondoLanding.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-family: "Press Start 2P", cursive;
  color: rgb(0, 0, 0);
}
