.card{
    height: 35vh;
    width: 20rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6) ;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    position: relative;
    background: linear-gradient(220.55deg, #FFF6EB 0%, #DFD1C5 100%);
    font-size: 20px;
    z-index: 10;
}
.card:hover{
    border: 4px solid #00FFD1;
    box-shadow: 0 0 20px #00FFD1,
                inset 0 0 20px #31C6D4;
}
.card-image{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    margin-bottom: -80px;
    
}
.image{
    width: 55%;
}

.nameCard{
    display: flex;
    margin-top: 0px;
    margin-bottom: 45px;
    font-family: 'Pokemon';
    color: #e9dd8a;
    -webkit-text-stroke: 1px rgb(139, 136, 136)
}
.typeCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-family: 'Pokemon';
    color: #e9dd8a;
    -webkit-text-stroke: 1px rgb(139, 136, 136);
    font-size: 23px;
}
.ul{
    list-style-type: none; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.listas{
    margin-left: 20px; 
    margin-right: 20px;
}
.icon{
    height: 100%;
    width: 100%;
}
.iconCard{
    width: 30px;
    padding-top: 5px;
    padding-right: 10px;

}