.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 35vh;
}

.container-logo{
    font-family: 'Pokemon';
    -webkit-text-stroke: 1px rgb(139, 136, 136);
    color: #e9dd8a;
    font-size: 45px;
    margin-top: -65px;
}

.filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
}