.nav-paginado{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_pag{
    position: relative;
    margin-left: 55px;
    border-radius: 10px;
    border: none;
    padding: 0px 20px;
    font-size: 20px;
    margin-top: -35px;
    font-family: 'Pokemon';
    -webkit-text-stroke: 1px #e9dd8a;
}
.button_pag:hover{
    background-color: aquamarine;
}
.button_pag:focus{
    background-color: aquamarine;
}