@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/westryder-slab-round');
.container-attack{
    display: flex;
    height: 50px;
    width: 83%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Westryder Slab Round';
    margin-bottom: 35px;

}
option{
    font-family:'Westryder Slab Round';;
}
.label-attack1{
    margin-right: 10px;
}
.input-radio{
    height: 12px;
    width: 12px;
}


